/* Example taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom*/
/* The Modal (background) */
.ol-modal {
  display: block; /* Shown by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,60,136,0.1); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
/* Modal Content */
.ol-modal-content {
  position: fixed;
  bottom: 0;
  background-color: rgba(0,60,136,0.1);
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
/* The Close Button */
.ol-modal-close {
  position: absolute;
  top: 2px;
  right: 8px;
  color: white;
  /* float: right; */
  font-size: 1.5em;
  font-weight: bold;
}
.ol-modal-close:hover,
.ol-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ol-modal-header {
  padding: 2px 16px;
  background-color: rgba(0,60,136,0.7);
  color: white;
}
.ol-modal-body {
  padding: 2px 16px;
  background-color: rgb(229,235,243);
}
.ol-modal-footer {
  padding: 2px 16px;
  background-color: rgb(76,118,171);
  color: white;
  font-size: .8em;
}
.ol-modal-table-data {
  width: 50%;
  padding-right: 40px;
  vertical-align: top;
  font-size: .9em;
}
div.ol-modal-footer a,
div.ol-modal-footer a:visited {
  color: #aae1e9;
}
div.ol-modal-body a,
div.ol-modal-body a:visited {
  color: #03899c;
}
div.ol-modal-footer a:focus,
div.ol-modal-body a:focus {
  color: #ff7a00;
}
div.ol-modal-footer a:hover,
div.ol-modal-body a:hover {
  color: #ff7a00;
}
.start-button {
  margin-left:5px;
  padding: 0.3em;
  border: none;
  border-radius: 2px;
  text-align: center;
  color: white;
  background: rgb(76,118,171);
  cursor: pointer;
}
.start-button:hover,
.start-button:focus {
  background-color: white;
  color: rgb(76,118,171);
  border: 1px solid rgb(76,118,171);
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}